body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(30, 33, 34);
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    width: 400px;  /* Increased width for a more square shape */
    transition: transform 0.2s;
    overflow: hidden;  /* Ensure content does not spill out */
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-header img {
    margin-right: 10px; /* Space between logo and text */
    border-radius: 50%; /* Circular logo */
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

.metric {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;  /* Set a minimum height */
}

.metric.full-width {
    grid-column: span 2;  /* Make the metric span two columns */
}

.metric p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.metric p:last-child {
    margin: 0;
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

@property --rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

button {
    --blue: #0173ff;
    --radius: 35px;
    --rotate: 0deg;
    padding: 20px 30px;
    border-radius: var(--radius);
    background: var(--blue);
    color: white;
    font-weight: 300;
    font-size: 20px;
    border: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

button .fancy {
    position: absolute;
    inset: 0;
}

button .fancy::before {
    content: '';
    background: conic-gradient(from var(--rotate), transparent 0%, white 5%, transparent 10%);
    position: absolute;
    inset: 0;
    animation: rotate 2s linear infinite;
}

button .fancy::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--blue);
    border-radius: calc(var(--radius) - 2px);
}

button .text {
    position: relative;
}

@keyframes rotate {
    to {
        --rotate: 360deg;
    }
}

.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;  /* Increase height to accommodate labels */
}

.gauge {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-overview {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.overview-content {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
